.fondo{
    border: 25px;
    height: 500px;
    width: 100%;
    
}

.cajita{
    color: red;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 3px;
    background-color: white;
    border: 25px;
    height: 95px;
    width: 400px;
    text-align: left;
}